<a href="/posts/view/{{id}}">
  <section class="card mb-2">
    <div class="dashboard-post-header p-2 color-bg-primary">
      <span class="">Posted by {{user.username}}  ·  {{format_date created_at}}</span>
      <h3 class="my-1">{{title}}</h3>
    </div>
    <div class="position-relative">
      <p class="p-2 dashboard-post-comment">{{post_comment}}</p>
    </div>
    <div class="p-2"><span>{{comments.length}} Comments</span></div>
  </section>
</a>